/* utility-first */
.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols-2{
   grid-template-columns: 1fr 1fr;
}

.gap-16 {
    gap: 16px;
}

.text-2xl {
    font-size: var(--h1);
}

.text-xl {
    font-size: var(--h2);
}

.text-lg{
    font-size: var(--h3);
}

.text-sm {
    font-size: var(--text-sm);
}